<div class="dropdown-wrapper" (click)="onOpenDropdown()">
    <app-dropdown-svg></app-dropdown-svg>
</div>
<div class="list-wrapper" *ngIf="isDropdownOpen && (accountService.user$ | async)">
    <div class="item" routerLink="/home">Home</div>
    <div class="item" routerLink="/package-list">Packages</div>
    <div class="item" (click)="onOpenTips()">
        <div class="iq200">
            <div>
                <app-down-arrow-svg></app-down-arrow-svg>
            </div>
            <div>Tips</div>
        </div>
        <div class="tips-wrapper" *ngIf="isTipsOpen">
            <ng-container *ngFor="let package of (packageService.packages$ | async)">
                <div routerLink="/tips/{{package.id}}">{{ package.name }}</div>
            </ng-container>
        </div>
    </div>
    <div class="item" routerLink="/contact">Contact</div>
    <div class="item" *ngIf="(accountService.user$ | async).isAdmin" routerLink="/admin/create">Create</div>
    <div class="item" *ngIf="(accountService.user$ | async).isAdmin" routerLink="/admin">Users</div>
    <div class="item" (click)="onLogOut()">Log out</div>
</div>