<div class="dropdown-wrapper">
        <app-dropdown-svg mat-button [matMenuTriggerFor]="beforeMenu"></app-dropdown-svg>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item (click)="onEditProfile()">Edit Profile</button>
      <button mat-menu-item routerLink="/package-list">Packages</button>
      <ng-container *ngFor="let package of (userPackages$ | async)">
        <button mat-menu-item class="tips" routerLink="/tips/{{package.id}}">
            <mat-icon>card_giftcard</mat-icon> {{ package.name }}
        </button>
      </ng-container>
      <button mat-menu-item routerLink="/contact">Contact</button>
      <button mat-menu-item *ngIf="(accountService.user$ | async).isAdmin" routerLink="/admin/create">Create</button>
      <button mat-menu-item *ngIf="(accountService.user$ | async).isAdmin" routerLink="/admin">Users</button>
      <button mat-menu-item (click)="onLogOut()">Log Out</button>
    </mat-menu>
</div>
