<div class="main-container">
    <div>Create Package</div>
    <div class="package-container">
        <ng-container *ngFor="let package of (packageService.allPackages$ | async)">
            <app-package-card
                [package]="package"
                [canDelete]="true"
                (deletedPackage)="deletedPackage($event)"
            >
            </app-package-card>
        </ng-container>
    </div>
        <form [formGroup]="packageForm" (ngSubmit)="onAddNewPackage()">
            <div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name: </mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <textarea matInput formControlName="description" placeholder="Description: "></textarea>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Days: </mat-label>
                        <input matInput type="number" formControlName="activeDays">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Price: </mat-label>
                        <input matInput type="number" formControlName="price">
                    </mat-form-field>
                </div>
                <div>
                    <button
                        [disabled]="!packageForm.valid"
                    >Add</button>
                </div>
            </div>
        </form>
</div>