<div class="main-container">
    <div class="title">Create tip</div>    
    <button [disabled]="(tips$ | async).length === 0" (click)="onMakeTipsInactive()">Make all tips inactive</button>
    <div class="tip-container">
        <ng-container *ngFor="let tip of (tips$ | async)">
            <app-tip-panel
                [tip]="tip"
            >
            </app-tip-panel>
        </ng-container>
    </div>
    <form [formGroup]="createTipForm" (ngSubmit)="onSubmitForm()">
        <div>
            <div class="input-container">
                <label>Home Team: </label>
                <input type="text" formControlName="homeTeam"/>
            </div>
            <div class="input-container">
                <label>Away Team: </label>
                <input type="text" formControlName="awayTeam" />
            </div>
            <div class="checkbox-container">
                <ng-container
                    *ngFor="let package of (packageService.packages$ | async)"
                >
                    <div>
                        <label>{{package.name}}</label>
                        <input 
                            (click)="onCheckPackage($event, package)"
                            type="checkbox">
                    </div>
                </ng-container>
            </div>
            
            <app-file-uploader></app-file-uploader>

            <button
                [disabled]="createTipForm.invalid || selectedPackages.length === 0"
            >Create tip</button>
        </div>
    </form>
</div>