.text-wrapper {
    background-color: var(--white);
    border: 2px solid var(--orange);
    border-radius: 5px;
    padding: 1rem;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
    border: 1px solid var(--orange);
    border-radius: 5px;
}