<div class="main-container" *ngIf="package">
  <div>
    <div>{{ package.name }}</div>
    <div class="active-days">{{ package.activeDays }} days</div>
  </div>
  <hr />
  <div>{{ package.description }}</div>
  <hr />
  <div>
    <div>${{ package.price }}</div>
    <!-- <button (click)="onSelect()" type="button">
      {{ "Select" | uppercase }}
    </button> -->

    <button
      mat-raised-button
      type="button"
      (click)="onSelect()"
      color="primary"
    >
      Select
    </button>
    <!-- <button *ngIf="canDelete" type="button" (click)="onDelete()">
      {{ "Delete" | uppercase }}
    </button> -->

    <button
      *ngIf="canDelete"
      mat-raised-button
      type="button"
      (click)="onDelete()"
      color="warn"
    >
      Delete
    </button>
  </div>
</div>
