.main-container {
    padding: 1rem;
    border: 3px solid tomato;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: aliceblue;
}

.main-container > div:first-child {
    font-size: 20px;
    font-weight: bold;
}

.main-container > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-container > div:last-child > div {
    font-size: 18px;
    font-weight: bold;
}