<div class="main-container">
  <h1>Contact</h1>
  <div class="first-parag">
    <div class="text-wrapper">
        <p>
            Welcome to BetMasterAdvice.com, your ultimate destination for top-notch
            betting tips and expert advice. With a team of seasoned professionals, we
            are dedicated to providing you with the most accurate and reliable
            insights to enhance your betting experience.
          </p>
    </div>
    <img
      src="assets/images/professional-worker.jpg"
      class="image"
      alt="professional"
    />
  </div>

  <div class="second-parag"></div>
  <div class="text-wrapper">
    <p>
        To stay connected with us and stay updated on the latest betting insights,
        make sure to follow us on Facebook, Instagram, Twitter, and TikTok. Through
        these platforms, we provide regular updates, expert analysis, and exclusive
        content that will help you stay ahead of the game. Join our growing
        community of satisfied clients who have experienced the advantages of our
        professional betting tips. Whether you're interested in football,
        basketball, tennis, or any other sport, our comprehensive coverage and
        meticulous approach will give you the winning edge.
      </p>
  </div>

  <img src="assets/images/social-media.jpg" class="image" alt="">
  <div class="btn-wrapper">
    <img src="assets/images/facebook.png" alt="facebook" (click)="onFacebook()">
    <img src="assets/images/instagram.png" alt="instagram" (click)="onInstagram()">
    <img src="assets/images/twitter.png" alt="twitter" (click)="onTwitter()">
    <img src="assets/images/tiktok.png" alt="tiktok" (click)="onTiktok()">
    <img src="assets/images/telegram.png" alt="telegram" (click)="onTelegram()">
</div>
</div>
