.main-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-container > div {
    display: flex;
    gap: 2rem;
}

.first-parag {
    display: flex;
    flex-direction: column;
}

.image {
    border: 2px solid var(--orange);
    border-radius: 5px;
}

.text-wrapper {
    background-color: var(--white);
    border: 1px solid var(--orange);
    padding: 1rem;
    border-radius: 5px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}