<div class="main-container">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sint repellendus ipsa tenetur tempore, itaque veniam quis, explicabo hic, pariatur eum? Saepe quo error laboriosam esse optio ea provident autem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit id, explicabo adipisci illo sed corrupti, aliquid asperiores quibusdam non maxime neque sequi nesciunt assumenda blanditiis rem eius soluta! Maxime, consequatur?</p>
    <div>
        <button>Facebook</button>
        <button>Instagram</button>
        <button>Telegram</button>
        <button>Whatsup</button>
    </div>
</div>