.register-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card-wrapper {
    background: var(--gold);
    border: 2px solid var(--purple);
    height: 80%;
    width: 70%;
    border-radius: 8px;
    padding: 0.5rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-wrapper > div {
    display: flex;
    flex-direction: column;
}

.package-wrapper {
    border: 2px solid var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark-green);
    border-radius: 4px;
    padding: 0.5rem;
    color: var(--white);
    gap: 0.2rem;
}

.packages {
    display: flex;
    gap: 0.2rem;
}

.packages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem 0.5rem;
    background: var(--gold);
    border: 2px solid var(--purple);
    border-radius: 8px;
}

.form-wrapper > div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.packages-pannel {
    margin-bottom: 2rem;
}