<div class="register-wrapper">
    <div class="register-card-wrapper">
        <form class="form-wrapper" [formGroup]="registerUserForm" (ngSubmit)="onRegister()">
            <h1>REGISTER</h1>
            <div>
                <label>Username: </label>
                <input type="text" formControlName="username" />
            </div>
            <div>
                <label>Email: </label>
                <input type="email" formControlName="email" />
            </div>
            <div>
                <label>Password: </label>
                <input type="password" formControlName="password" />
            </div>
            <div>
                <label>Select your package: </label>
                <div class="packages">
                    <ng-container  *ngFor="let package of packages">
                        <div class="package-wrapper">
                            {{ package.name }}
                            {{ package.activeDays }} days
                            <input type="checkbox" (click)="onSelectPackage($event, package)" />
                        </div>
                    </ng-container>
                </div>
            </div>
            <div>
                <button type="submit" [disabled]="registerUserForm.invalid">Register</button>
            </div>
            <div>Already have an account? <a routerLink="/login">Login</a></div>
        </form>
    </div>
</div>