<div class="register-wrapper">
    <div class="register-card-wrapper">
        <form class="form-wrapper">
            <h1>REGISTER</h1>
            <div>
                <label>Username: </label>
                <input type="text" />
            </div>
            <div>
                <label>Email: </label>
                <input type="email">
            </div>
            <div>
                <label>Password: </label>
                <input type="password">
            </div>
            <div>
                <label>Select your package: </label>
                <div class="packages">
                    <div class="package-wrapper">
                        Football
                        <input type="checkbox" />
                    </div>
                    <div class="package-wrapper">
                        Basketball
                        <input type="checkbox" />
                    </div>
                    <div class="package-wrapper">
                        Football + Basketball
                        <input type="checkbox" />
                    </div>
                    <div class="package-wrapper">
                        VIP
                        <input type="checkbox" />
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
            <div>Already have an account? <a routerLink="/login">Login</a></div>
        </form>
    </div>
</div>