<div *ngIf="user" class="main-container" [ngClass]="{'has-subscription': user.hasSubscription}">
    <div>
        <div>{{ user.username }}</div>
        <div class="email">{{ user.email }}</div>
    </div>
    <div>
        <div>{{ user.package.name }}</div>
        <div>${{ user.package.price }}</div>
    </div>
    <div class="buttons-wrapper">
        <button *ngIf="!user.hasSubscription" (click)="onApproveUser()">Approve</button>
        <button (click)="onEditUser()">Edit User</button>
        <button (click)="onDeleteUser()">Delete</button>
    </div>
</div>