<mat-expansion-panel hideToggle *ngIf="tip">
    <mat-expansion-panel-header>
      <mat-panel-description class="title">
        {{ tip.homeTeam }} - {{ tip.awayTeam }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="body-container">
      <div class="packages-names">
        <ng-container *ngFor="let package of tip.packages">
          <div>{{ package.name }}</div>
        </ng-container>
      </div>
      <div>
        <img class="tip-photo" src="https://localhost:5001/{{tip.photo.name}}" alt="{{tip.photo.name}}">
      </div>
    </div>
  </mat-expansion-panel>