<div class="main-container">
    <div class="title">Users</div>
    <div class="btn-container">
        <button (click)="onAllUsers()">All Users</button>
        <button (click)="onSubscribedUsers()">Subscribed Users</button>
        <button (click)="onUnsubscribedUsers()">Unsubscribed Users</button>
    </div>
    <div class="users-container">
        <ng-container *ngFor="let user of (selectedUsers$ | async)">
            <app-user-card
                (approvedUser)="upprovedUser($event)"
                (deletedUser)="deleteUser($event)"
                [user]="user"
            ></app-user-card>
        </ng-container>
    </div>
</div>