<div class="login-wrapper">
    <div class="login-card">
        <form class="form-wrapper">
            <div>
                <h1>LOGIN</h1>
            </div>
            <div>
                <label>Username: </label>
                <input type="text">
            </div>
            <div>
                <label>Password: </label>
                <input type="password" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <p>Don't have an account <a href="#">register</a></p>
            </div>
        </form>
    </div>
</div>