.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: var(--gold);
    color: var(--dark-green);
    border: 2px solid var(--purple);
    height: 70%;
    width: 80%;
    border-radius: 8px;
    padding: 2rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    margin-bottom: 2rem;
}