<div class="main-wrapper">
  <div class="text-wrapper">
    <p>
      Based on the information provided, it appears that your token has expired.
      Tokens are essential for maintaining the security of your account and
      ensuring a smooth user experience. When a token expires, it means that the
      authorization to access our services has expired as well. You just need to
      login again.
    </p>
    <br>
    <button mat-raised-button color="primary" (click)="onLoginPage()">Go to login page</button>
  </div>
</div>
